

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label class="center-block">Name:
          <input class="form-control" formControlName="name" disabled >
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Group Name:
          <input class="form-control" formControlName="groupName" disabled>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Profile Name:
          <input class="form-control" formControlName="profileName" disabled>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Profile Description:
          <textarea class="form-control" formControlName="profileDescription" disabled style="height: 60px;"></textarea>
        </label>
      </div>

      <!-- <div class="form-group">
        <label class="center-block">Email:
          <input class="form-control" formControlName="email">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Description:
          <input class="form-control" formControlName="description">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Mobile:
          <input class="form-control" formControlName="mobile">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Client Path:
          <input class="form-control" formControlName="clientPath">
        </label>
      </div> -->
    </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-outline-dark" type="submit" class="btn btn-success">Salva</button>-->
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  </div>
</form>
</ng-template>
