<div class="container" >
    <!--<kendo-sparkline [data]="buttami" type="column"
      style="width: 130px; height: 20px;">

        <kendo-chart-area background="#FFF0">
          </kendo-chart-area>

          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [categories]=Buttami0>
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>

          <kendo-chart-series>
            <kendo-chart-series-item type="column"  [gap]= 0.4 [stack]="{ type: '1%' }">
            </kendo-chart-series-item>
            <kendo-chart-series-item type="column" name="Ok" color=#248f24 [data]=Buttami1>
            </kendo-chart-series-item>
            <kendo-chart-series-item type="column" name="Failed" color="red" [data]=Buttami2>
            </kendo-chart-series-item>
            <kendo-chart-series-item type="column" name="Aborted" color=#e6e619 [data]=Buttami3>
            </kendo-chart-series-item>
          </kendo-chart-series>
    </kendo-sparkline> -->


    <div class=" text-center" style="margin-top: 50px;">
        <!-- logo -->
        <img  src="assets/img/BrandingElements/AntsLogo.png" style="max-width: 280px;">
    </div>
    <form class="form-signin" novalidate>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" required />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required />

        <!-- <div class="checkbox">
            <label>
                <input type="checkbox" name = rememberme [(ngModel)]="rememberme"> Remember me
            </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(username, password, rememberme)" [disabled]="requestInProgress">Sign in <img *ngIf="requestInProgress" src="assets/img/img/loader.gif" height="20" class="pull-right"></button>
    </form>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-danger" id="log-err" *ngIf="errMsg">
          <div class="panel-heading">
            Error!
            <button type="button" class="close" (click)="errMsg=''" data-target="#log-err" data-dismiss="alert">
              <span>&times;</span>
            </button>
          </div>
          <div class="panel-body">{{errMsg}}</div>
        </div>
      </div>
    </div>
</div> <!-- /container -->

<div style="position: absolute; left: 30px; top: 30px;">
  <img  src="assets/img/BrandingElements/CompanyLogo.png" style="width: 100px; height: 100px;">
</div>

<div style="position: absolute; right: 30px; top: 30px;">
  <img  src="assets/img/BrandingElements/CustomerLogo.png" style="width: 140px; height: 75px;">
</div>

<div *ngIf="changePassword" style="position: absolute; background-color: #a999; left: 0px; top: 0px; width: 105%; height: 105%; z-index: 1000;"></div>
<div *ngIf="changePassword" style="position: absolute; background-color: white; border: 1px solid #999;left: 50%; top: 50%;
    width: 400px; margin-left: -200px; margin-top: -225px; z-index: 1001; overflow: auto;">
  <div class="modal-header">
    <h4 class="modal-title">User Must Change Password</h4>
  </div>
  <form [formGroup]="changePswForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">

      <div class="form-group">
        <label class="center-block">Old Password:
          <input class="form-control" type="password" formControlName="oldPassword">
        </label>
      </div>

      <div class="form-group">
        <label class="center-block">New Password (Max 10 char):
          <input class="form-control" type="password" formControlName="newPassword1">
        </label>
      </div>

      <div class="form-group">
        <label class="center-block">Repeat New Password:
          <input class="form-control" type="password" formControlName="newPassword2">
        </label>
      </div>

      <div class="form-group">
        <span style="color: red;">{{messageLog}}</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-dark" type="submit" class="btn btn-success" [disabled]="!changePswForm.valid">Ok</button>
      <button type="button" class="btn btn-outline-dark" (click)="closeCP()">Cancel</button>
    </div>
  </form>
</div>

